{% extends "base.html" %}


{%- block page_title %}

  <a class="navbar-brand" href="#">Home</a>

{%  endblock page_title %}


{% block content -%}

  <h2>Your Dashboards</h2>

  {% for _, section in store.sections.items() %}
    <h3>{{ section.label }}</h3>
    <ul>
      {% for dashboard in section.children_dashboards %}
        <li><a href="{{ url_for('client.'+section.name+'__'+dashboard.name) }}">
          {{ dashboard.label }}
        </a></li>
      {% endfor %}
    </ul>
    <ul>
      <li><a href="{{ url_for('client.'+section.name+'__'+'add') }}">
        Add
      </a></li>
      <li><a href="{{ url_for('client.'+section.name+'__'+'settings') }}">
        Settings
      </a></li>
    </ul>
  {% endfor %}

{%- endblock content %}
